/* GENERAL */
body {
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(56, 14, 104));
  block-size: 100vh;
  color:white;
  margin: 0 auto;
  min-inline-size: 995px;
  min-block-size: 400px;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
}

header,
footer,
main {
  border: 2px solid rgb(119, 0, 255);
}
/* HEADER */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 0;
}

header nav ul {
  display: flex;
  justify-content:space-around;
  list-style-type: none;
  padding: 0;
}

header li {
  margin: 0 1rem;
}

/* MAIN */
.game-page {
  display: grid;
  grid-template-rows: .5fr 8fr .5fr;
  border: 4px solide lime;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
}

.players-online {
  grid-column: 1;
}

.game-area {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid lime;
}

canvas {
  inline-size: 100%;
  height: 80%;
  border: 2px solid red;

}
.live-games {
  grid-column: 3;
  min-width: 250px;
}
/* FOOTER */

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
/* LOGIN PAGE */
.login-page {
  align-items: center;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}


.login-page h1{
  color: rgb(111, 35, 174);
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF, 0 0 60px #FFF, 0 0 70px #FFF;
  font-size: 7rem;
}

.login-page a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5rem;
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #FFF, 0 0 50px #FFF, 0 0 60px #FFF, 0 0 70px #FFF;
  color: rgb(111, 35, 174);
}

/* ICONS */

.icon {
  color: white;
  font-size: 2rem;

  display: flex;
}


/* GAME-PAGE-PLAYERS-Online */

.players-online,
.live-games {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-page-players-online-ul,
.game-page-games-online-ul
{
  list-style-type: none;
  padding: 0;
  max-height: 80vh;
  overflow-x: auto;
  overflow-block:inherit;
  width: 90%;
  flex-shrink: 0;
  border: 2px solid blue;
}

.player-card-li{
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(86, 38, 140));
  border: 1px solid pink;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: .6rem;
}

.player-card-li img{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.player-availability {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#user-name {
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid yellow; */
  max-width: 9rem;
}

#in-a-game {
  width: max-content;
  margin: 0 1rem;
}

/* GAME CARD */
.game-card-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid pink;
  border-radius: 25px;
  margin-bottom: .6rem;
  height: 100px;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(86, 38, 140));
}

.game-card-li div {
  position: relative;
}

.game-card-li div span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* border: 1px solid yellow; */
  max-width: 5rem;
  
}

.game-card-li img {
  border-radius: 25px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.game-card-li:hover {
  box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;
  cursor: pointer;
}


.game-card-li span {
  font-size: 10px;
  font-weight: bold;
}


.game-card-li .vertical-word {
  writing-mode: vertical-rl;
  font-size: 1.2rem;
}