.Chat_details {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
	border-radius: 5px;
	box-shadow: 0 0 20px 5px rgb(138 34 142 / 90%);
	background-image: linear-gradient(to bottom left, rgb(0, 0, 0), rgb(96, 62, 135));
}


/* .Chat_details {
	padding: 0;
	overflow-x: none;
	max-height: 32.5vh;
	min-height: 32.5vh;
  } */



/* CHAT_PARTICIPANT_CARD */

.participant-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 220px;
	margin-bottom: 0.6rem;
	border-radius: 25px;
	background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(86, 38, 140));
	margin-left: 0;
	padding-left: 0;
	border: .5mm ridge white;
}

.participant-card img {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	width: 64px;
	height: 64px;
}

/* .friend-card span {
	margin-right: 2rem;
} */

.icons {
	margin-right: 1rem;
	color: purple;
}

/* NAME */


.Chat_name_for_chat_details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
	font-size: larger;
	color: rgb(252, 252, 252);
	align-self: stretch;
	background-color: purple;
	padding-left: 1rem;
	padding-top: .6rem;
	padding-bottom: .6rem;
}

.admin-buttons,
.password-buttons {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
