.game-page-background {
	border: 1mm ridge purple;
	border-radius: 50%;
	width:  200px;
	height: 200px;
	object-fit: cover;
	filter: grayscale(100%);
}

.game-page-images-container {
	/* width: 70%; */
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.active {
	filter: none;
    box-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF;;
	
}