/* #open-chat-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 220px;
    margin-bottom: 0.6rem;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(86, 38, 140));
}

#open-chat-card img{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#open-chat-card span{
    margin-left: 3rem;
} */