#user-statistics img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50px;
    border: 1mm ridge purple;
}

.no-achievement {
    width: 64px;
    height: 64px;
    border: 1mm ridge gray;
    border-radius: 50px;
    display: inline-block;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.83), rgb(56, 14, 104));
}

#user-statistics {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stats-words {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

#stats span,
.title-section {
    font-size: medium;
    font-style: italic;
    font-family: fantasy;
    font-weight: 700;
}

.title-section {
    font-size: larger;
    padding-left: 10px;
}

.everything-is-fine-svg {
    width: 100%;
    height: 80%;
}

.no-games {
    font-family: fantasy;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}